.outer{
    margin: auto;
    align-items: center;
}


div{
    
    display: flex;
    flex-direction: column;
    max-width: 400px;
    
}

input{
    line-height: 30px;
    font-size: large;
    border-radius: 10px;
    border: 1px solid black;
}
#Calculate{
    height: 40px;
    width: 120px;
    background-color: rgb(188, 237, 173);
    border: none;
    border-radius: 15px;
    font-size: larger;
    margin-top: 20px;
    padding: 5px 8px;

}
.rText{
    font-size: xx-large;
    color: black;
}

#inF{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#Calculate:hover {
    background-color: black;
    color: white;
}

#result{
    font-size: large;
    color: rgb(243, 85, 22);

}

.resDiv{
    background-color: rgb(242, 242, 242);
    border-radius: 15px;
    min-width: 350px;
    max-width: 380px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
}

